<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" type="text/css" href="/css/color_palette.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 
</head>
<body>
  <div id="title">My Shoppinglist</div>

  <div id="login">
    <h2>Login</h2>
    <div id="loginError">
    <% if (messages.error) { %>
      <%= messages.error %>
    <% } %>
    </div>
    <form action="/login" method="POST">
      <div>
        <label class="loginLabel" for="email">E-Mail</label>
        <input class="loginInput" type="email" id="email" name="email" required>
      </div>
    
      <div>
        <label class="loginLabel" for="password">Passwort</label>
        <input class="loginInput" type="password" id="password" name="password" required>
      </div>
    
      <button class="menuButton" id="loginButton" type="submit">Login</button>
    </form>
    <a href="/register" id="registerRef">Register</a>
  </div>

</body>
</html>





